.header{ 

    display: flex; 
    max-width: 1200px;
    flex: 1;
    justify-content: space-between; 
    align-items: center;
    background-color:aliceblue ;
    border: 1px solid rgb(5, 245, 197);
    text-shadow: 4px 4px 5px rgb(5, 245, 197);
    padding: 5px;
    border-radius: 10px;
    margin: 10px;
   
}

.header__nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__nav-logo .img {
    width: 100px;
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
}


.header__nav-namelogo{
    font-family: 'Rubik Moonrocks', cursive;
    text-align: center;
    margin-top: 40px;



}

/* .header__nav-menu {
   

} */

.navbar-item {    
    text-decoration:none;
    color: black;
    text-shadow: 4px 4px 5px rgb(5, 245, 197);
    font-family: 'Rubik Moonrocks', cursive;
    margin: 0 5px;
    font-size: 1.5rem;
 

}

/* .header-titel{
    flex-direction: column;
    
    
    
    

}


.header-bloctitel{
    
    color: rgb(242, 12, 185);
    font-family: 'Poppins', sans-serif;
   

} */